.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.changeTextButton{
    height: 30px;
    width: 150px;
    background-color: rgb(108, 224, 228);
    color: #3f3e3e;
    border: .5px solid rgb(32, 164, 168);;
    border-radius: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.changeTextButton:hover{
    background-color: rgb(168, 252, 255);
    scale: 1.2;
    transition: .5s;
}

.converted{
    color: #3f3e3e;
    text-shadow: 8px 2px 50px #000000;
}